#openpgpjs_key_manager { display:none; }
#openpgpjs_key_manager_container { overflow: scroll; height: 500px; }
#openpgpjs_key_select { display:none; }
.openpgpjs_keys { width: 60%; float:left; position:relative; margin:0px; padding: 0px; }
#openpgpjs_import { width: 40%; float:left; position:relative; margin:0px; padding: 0px; text-align: right; }
#openpgpjs_import textarea { width: 75%; height: 100px; margin-left: 15%; }
#openpgpjs_tabs { border: 0px; }
#openpgpjs_import .button { float: right; }
#openpgpjs_search_results { text-align: left; width: 75%; height: 100px; overflow: scroll; margin-left: 25%; } 
.hidden { visibility: hidden; }
tr.key { cursor: pointer; }
#generated_private, #generated_public { width: 45%; float: left; text-align: left; }
.search_row { cursor: pointer; }
.odd { background-color: #ccc; } /* kaos kommunikation */
.button#openpgp_js { background: url("../img/lock.png") no-repeat; background-position: center; }
