<div id='openpgpjs_key_select' class="propform popupdialog">
  <fieldset>
    <div id='openpgpjs_key_select_list'></div>
    <label for="passphrase"><roundcube:label name="rc_openpgpjs.passphrase" />:</label> <input type='password' id='passphrase' />
    <label><input type='checkbox' id='openpgpjs_rememberpass' /> <roundcube:label name="rc_openpgpjs.remember_5_min" /></label>
    <input type='button' class='button' value='OK' onclick='set_passphrase($(\"#openpgpjs_selected_id\").val(), $(\"#passphrase\").val());' />
  </fieldset>
</div>
