<div id='openpgpjs_key_manager' class="propform popupdialog">
  <div id='openpgpjs_tabs'> 
    <ul>
      <li><a href='#openpgpjs-tab1'><roundcube:label name="rc_openpgpjs.public_keys" /></a></li>
      <li><a href='#openpgpjs-tab2'><roundcube:label name="rc_openpgpjs.private_keys" /></a></li> 
      <li><a href='#openpgpjs-tab3'><roundcube:label name="rc_openpgpjs.generate_keys" /></a></li>
    </ul> 
    <div id='openpgpjs-tab1'>
      <table id='openpgpjs_pubkeys' class='openpgpjs_keys'>
        <thead>
          <tr class='boxtitle'>
            <th><roundcube:label name="rc_openpgpjs.key_id" /></th>
            <th><roundcube:label name="rc_openpgpjs.fingerprint" /></th>
            <th><roundcube:label name="rc_openpgpjs.person" /></th>
            <th><roundcube:label name="rc_openpgpjs.length_alg" /></th>
            <th><roundcube:label name="rc_openpgpjs.status" /></th>
            <th><roundcube:label name="rc_openpgpjs.action" /></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div id='openpgpjs_import'>
        <p><textarea id='importPubkeyField'></textarea></p>
        <p><input type='button' class='button' value='<roundcube:label name="rc_openpgpjs.import_private" />' onclick='importPubKey($(\"#importPubkeyField\").val());' /></p>
      </div>
    </div>
    <div id='openpgpjs-tab2'> 
      <table id='openpgpjs_privkeys' class='openpgpjs_keys'>
        <thead>
          <tr class='boxtitle'>
            <th><roundcube:label name="rc_openpgpjs.key_id" /></th>
            <th><roundcube:label name="rc_openpgpjs.fingerprint" /></th>
            <th><roundcube:label name="rc_openpgpjs.person" /></th>
            <th><roundcube:label name="rc_openpgpjs.length_alg" /></th>
            <!--<th><roundcube:label name="rc_openpgpjs.status" /></th>-->
            <th><roundcube:label name="rc_openpgpjs.action" /></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div id='openpgpjs_import'>
        <p><textarea id='importPrivkeyField'></textarea></p>
        <p><strong><roundcube:label name="rc_openpgpjs.passphrase" />:</strong> <input type='password' id='import_passphrase' /></p>
        <p><input type='button' class='button' value='<roundcube:label name="rc_openpgpjs.import_private" />' onclick='importPrivKey($("#importPrivkeyField").val(), $("#import_passphrase").val());' /></p>
      </div>
    </div>
    <div id='openpgpjs-tab3'>
      <label for="gen_passphrase"><roundcube:label name="rc_openpgpjs.passphrase" />:</label> <input type='password' id='gen_passphrase' /> 
      <label for="gen_passphrase_verify"><roundcube:label name="rc_openpgpjs.verify" />:</label> <input type='password' id='gen_passphrase_verify' /> 
      <label for="gen_bits"><roundcube:label name="rc_openpgpjs.bits" />:</label> 
      <select id='gen_bits'>
        <option value='1024'>1024</option>
        <option value='2048'>2048</option>
        <option value='4096'>4096</option>
      </select> 
      <input type='button' class='button' value='<roundcube:label name="rc_openpgpjs.generate" />' onclick='generate_keypair($("#gen_bits").val(), $("#gen_algo").val());' />
      <input type='button' class='button hidden' id='import_button' value='<roundcube:label name="rc_openpgpjs.import" />' onclick='importGenerated();' />
      <div id='generated_keys'></div>
    </div>
  </div>
</div>
