#openpgpjs_key_manager { display:none; }
#openpgpjs_key_select { display:none; }
#openpgpjs_key_manager label, #openpgpjs_key_select label { font-weight: bold; }
.openpgpjs_keys { width: 60%; float:left; position:relative; margin:0px; padding: 0px; }
#openpgpjs_import { width: 40%; float:left; position:relative; margin:0px; padding: 0px; text-align: right; }
#openpgpjs_import textarea { width: 75%; height: 100px; margin-left: 15%; }
#openpgpjs_tabs { overflow: scroll; height: 500px; border: 0px; }
#openpgpjs_import .button { float: right; }
#openpgpjs_search_results { text-align: left; width: 75%; height: 100px; overflow: scroll; margin-left: 25%; } 
.hidden { visibility: hidden; }
.clickme { cursor: pointer; }
.clickme:hover { background-color: #000; color: #fff; }
#generated_private, #generated_public { width: 45%; float: left; text-align: left; font-size: 7pt; }
.search_row { cursor: pointer; }
.odd { background-color: #ccc; } /* kaos kommunikation */
.button#openpgp_js { background: url("images/lock.png") no-repeat; background-position: center; }
