#openpgpjs_key_manager .ui-dialog .ui-dialog-content { padding: 0; }

#openpgpjs_tabs { min-height: 400px;}
#openpgpjs_tabs .ui-tabs { padding: 0;}
#openpgpjs_tabs .ui-tabs-panel { background: transparent; padding: 0;}

#openpgpjs_import textarea { width: 40%; height: 150px;}

#openpgpjs_search_results { text-align: left; width: 75%; height: 100px; overflow: scroll; margin-left: 25%; } 
.hidden { visibility: hidden; }
.clickme { cursor: pointer !important; }
#generated_private, #generated_public { width: 45%; float: left; text-align: left; font-size: 7pt; }
.search_row { cursor: pointer; }
.odd { background-color: #ccc; } /* kaos kommunikation */
.button#openpgp_js { background: url("images/lock.png") no-repeat; background-position: center; }
